.info {
    justify-content: center;
    display: flex;

}

.entradas2 .info3 {
    justify-content: center;
    align-items:center;
    display: grid;
    height: 150px;
    margin:5px;
    font-size:20px;
}

.entradas2 h2{
    align-items:center;
    display:grid;
    justify-content:center;

}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 500px;
    height: 500px;
    overflow:scroll;

}

.left{
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
}

.right{
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
}

th, td{

    padding: 10px;
    text-align: center;
    font-size: 20px;

}
th {
background-color: #207C20;
color: white;
position:sticky;
top:0;
}

a {
    text-decoration: none;
    color: CurrentColor;

}

.entradas2{
    display:grid;
    width:300px;
    height:300px;
    grid-template-rows: 1fr 2fr;


}
