<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ARCASENS</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/info.css">
    <link rel="stylesheet" href="/static/style-index.css">
</head>
<body>
    <div class="container-main">
        <div class="container-nav">
           <a href="/main"><img src="/static/imagen/arcasens.jpg" alt=""></a>
           <h1>Tesoreria</h1>
        </div>
        <div class="container-table" id="data">
            <div class="entradas">
               <h1>Entradas</h1>
               <table class="info">
                   <tr>
                     <th class="left">Fecha</th>
                     <th>Medio de ingreso</th>
                     <th>Concepto</th>
                     <th>Importe</th>
                     <th class="right">Modificar</th>
                   </tr>
                {% for i in tesoreria %}
                   {%if i.tiporegistro == "entrada" and i.importe !=0%}
                       <tr>
                          <td>{{i.fecha}}</td>
                          <td>{{i.descripcion}}</td>
                          <td>{{i.concepto}}</td>
                          <td>{{i.importe}} €</td>
                           <td>  <div class="botones">
                            <a href="/info/{{i.id}}/5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pencil-square" viewBox="0 0 16 16">
                             <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                             <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                             </svg></a>
                             <a  href="/eliminar/5/{{i.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                             <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                             <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                             </svg></a>
                         </div>
                   </td>
                       </tr>
                   {%endif%}
                {% endfor %}
               </table>
                <h2>Saldo total: {{resultado_entrada|round(2)}} €</h2>
            </div>
            <div class="salidas">
                <h1>Salidas</h1>
                <table class="info">
                   <tr>
                     <th class="left">Fecha</th>
                     <th>Medio de pago</th>
                     <th>Concepto</th>
                     <th>Importe</th>
                      <th class="right">Modificar</th>
                   </tr>
                {% for i in tesoreria %}
                    {%if i.tiporegistro== "salida" and i.importe !=0%}
                       <tr>
                          <td>{{i.fecha}}</td>
                          <td>{{i.descripcion}}</td>
                          <td>{{i.concepto}}</td>
                          <td>{{i.importe}} €</td>
                          <td>  <div class="botones">
                            <a href="/info/{{i.id}}/5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pencil-square" viewBox="0 0 16 16">
                             <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                             <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                             </svg></a>
                             <a  href="/eliminar/5/{{i.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                             <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                             <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                             </svg></a>
                         </div>
                   </td>
                       </tr>
                    {%endif%}
                {% endfor %}
                </table>
                <a href="/creartesoreria" id="crear-parcela"><button type="button">Añadir registro</button></a>
            </div>
      </div>
    </div>
   <script src="/static/script.js"></script>
</body>
</html>